.footer {
  @apply bg-zinc-900 py-5;

  .container {
    @apply w-4/5 mx-auto flex justify-between items-center;
  }

  .content {
    @apply flex items-center justify-between gap-20;

    .logo {
      @apply flex items-center justify-center flex-col space-y-5;

      h1 {
        @apply text-3xl font-bold text-yellow-400;
      }

      .socialIcons {
        @apply flex items-center justify-between gap-5 mt-2 text-gray-300;
      }

      .socialIcons * {
        @apply h-6 w-6 cursor-pointer active:scale-95 duration-100;
      }

      .socialIcons div:nth-child(1) {
        &:hover {
          @apply text-blue-500;
        }
      }

      .socialIcons div:nth-child(2) {
        &:hover {
          @apply text-blue-700;
        }
      }

      .socialIcons div:nth-child(3) {
        &:hover {
          @apply text-red-500;
        }
      }
    }

    .address {
      @apply flex flex-col text-center;

      p {
        @apply w-3/5 mx-auto text-white;
      }

      a {
        @apply underline font-semibold mt-2 text-yellow-400;

        &:hover {
          @apply text-yellow-500;
        }
      }
    }

    .contact {
      @apply space-y-2;
      h1 {
        @apply text-gray-500 text-end;
      }

      span {
        @apply text-yellow-500 font-semibold;
      }
    }
  }
}

/*mobile*/
@media (max-width: 575.98px) {
  .content {
    @apply flex flex-col;
  }
  .address {
    @apply flex flex-col text-center;

    p {
      @apply w-1/5 mx-auto text-white;
      font-size: 20px
    }

    a {
      @apply underline font-semibold mt-2 text-yellow-400;

      &:hover {
        @apply text-yellow-500;
      }
    }
  }
  
}
